*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
h1{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.div{
    border: 3px solid #999;
    border-top: 30px solid #999;
    margin: 10px 0 -2% 0;
    background-color: #555;
    width: 800px;
    height: 500px;
}
.button{
    cursor: pointer;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 50px;
}
#buttonYes{
    border: 3px solid #ffffff;
    background-color: #5f5;
    position: relative;
    top: 200px;
    left: 100px;
}
#buttonNo{
    border: 3px solid #ffffff;
    background-color: #f55;
    transition: 0.2s;
    position: relative;
    top: 200px;
    left: 500px;
}